
img {
  width: 100%;
  display: block;
  height: auto;
  /* border-radius: 20px; */
}
ul {
  padding: 0;
  list-style: none;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    max-width: 360px;
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}